.mr-bottom {
  margin-bottom: 7rem;

  @include respond(maxWidth992) {
    margin-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    margin-bottom: 3rem;
  }
}

.mr-top {
  margin-top: 7rem;

  @include respond(maxWidth992) {
    margin-top: 5rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
}

.p-bottom {
  padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
}

.p-top {
  padding-top: 7rem;

  @include respond(maxWidth992) {
    padding-top: 5rem;
  }

  @include respond(maxWidth768) {
    padding-top: 3rem;
  }
}

.space-one {
  height: 40px;

  @include respond (phone-before) {
    height: 30px;
  }
}

.primary-list {
  @media screen and (max-width:575px) {
    padding: 0;
    margin-left: 4rem;
  }

  @include respond (small-desktop-after) {
    padding-left: 5rem;
  }

  li {
    position: relative;

    &:before {
      content: "";
      background-image: url("../images/check.png");
      background-size: cover;
      position: absolute;
      top: 15px;
      left: -30px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
}

.quote-list {
  margin-left: 7rem;
    margin-top: 5rem;
  @media screen and (max-width:575px) {
    padding: 0;
    margin-left: 4rem;
  }

  @include respond (small-desktop-after) {
    padding-left: 5rem;
  }

  li {
    position: relative;
    color: rgba($colorWhite, $alpha: 1);
    &:not(:last-child){
      padding-bottom: 2rem;
    }
    &:before {
      content: "";
      background-image: url("../images/icons/quotes-01.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
    left: -7rem;
    width: 5rem;
    height: 3.2rem;
    transform: rotate(0deg);
    opacity: 0.6;
    @include respond (maxWidth768){
      top: 5px;
    left: -5rem;
    width: 4rem;
    height: 2.5rem;
    }
    }
  }
}

.inner-hero-section {
  position: relative;
  min-height: 500px;

  @include respond (phone-before) {
    min-height: 250px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 100% 36%;
  background-repeat: no-repeat;

  &.social {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 49%;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.senior-gades {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 13.5%;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.middle-grades {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 13.5%;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.primary {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 22%;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.pre-primary {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.fee {
    @include respond (tab-land-after) {
      align-items: flex-start;
      justify-content: flex-start;
      background-position: 100% 57%;

      h1 {
        text-align: left;
        margin-top: 3rem;
      }
    }
  }

  &.parental {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 41.5%;
      min-height: 54rem;

      h1 {
        text-align: left;
      }
    }
  }

  &.news {
    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;
      background-position: 100% 50%;
      min-height: 54rem;

      h1 {
        text-align: left;
      }
    }
  }

  &.prospectus {
    @include respond (tab-land-after) {
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        text-align: left;
      }
    }
  }

  &.result {
    background-position: 100% 24%;

    @include respond (tab-land-after) {
      align-items: flex-end;
      justify-content: flex-start;

      h1 {
        text-align: left;
      }
    }
  }

  &::before {
    content: "";
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
  }

  .container {
    position: relative;
  }
}

.inner-hero-section-two {
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  &::before {
    content: "";
    background: $colorBlack;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    position: relative;
  }
}

.blockquote {
  padding: 1.5rem 3rem;
  font-size: 16px;
  border-radius: 0 0 0 0;
  border-left: 4px solid $colorPrimary;
  color: rgba($colorBlack, $alpha: 1);
  display: flex;
  // font-weight: 700;
  flex-direction: column;
  background: rgba($colorPrimary, $alpha: 0.1);
  position: relative;
  @include respond (minWidth992){
    margin-right: 5rem;
  }
  .fa-quote-left, .fa-quote-right {
    position: absolute;
    color: rgba($colorPrimary, $alpha: 0.5);
  }

  .fa-quote-right {
    right: 2rem;
    bottom: 0.5rem;
  }
  .fa-quote-left {
    left: 1rem;
    top: 0.5rem;
  }
}

.owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  button {
    background: $colorPrimary !important;
    border: 1px solid $colorPrimary !important;
    height: 3rem;
    width: 3rem;

    i {
      color: rgba($colorWhite, $alpha: 1);
    }
  }
}
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 0;
    left: 0;
    width: 100%;
  height: 5rem;
  background-color: $colorPrimary;
  cursor: pointer;
  border-radius: 0;
  z-index: 999;
  display: grid;
  place-content: center;
  text-align: center;
  @media screen and (min-width:768px){
    display: none!important;
  }
  .link-registered{
    a{
      font-size: 18px;
      padding: 10px 24px;
      line-height: 1;
      text-transform: capitalize;
      border: 1.9px solid $colorPrimary!important;
      background: $colorPrimary;
      color: $colorWhite;
      transition: $transition;
      display: inline-block;
      text-transform: uppercase;
    }
  }
}
.call-to-action{
  .link-wrapper {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    a{
      text-align: center;
    }
}
  .call-wrapper{
    background: linear-gradient(90deg, $colorPrimary 0%, $colorSecondary 100%);
    padding: 5rem 0;
    border-radius: 1rem;
    position: relative;
    .row{
      position: relative;
      z-index: 1;
    }
    &::before{
      content: "";
    background-image: url(../images/bg-01.jpg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    background-position: bottom left;
    mix-blend-mode: color-burn;
    }
    .content-para{
      padding: 0 3rem;
      p{
        margin-bottom: 0;
      }
    }
    @include respond (maxWidth992){
      .link-wrapper {
    display: block;
    margin-top: 3rem;
    text-align: center;
}
    }
  }
}

.ring-border {
  margin: 7rem auto;
  background: #fff;
  height: 5px;
  width: 75%;
  position: relative;
  &::before, &::after{
    content: "";
    background: transparent;
    border: 5px solid rgba($colorWhite, $alpha: 1);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before{
    left: -2rem;
  }
  &::after{
    right: -2rem;
  }
}